[submodule "external/NIDS-Net"]
	path = external/NIDS-Net
	url = https://github.com/IRVLUTD/NIDS-Net.git
[submodule "external/SAM-6D"]
	path = external/SAM-6D
	url = https://github.com/JiehongLin/SAM-6D.git
[submodule "external/cnos"]
	path = external/cnos
	url = https://github.com/nv-nguyen/cnos.git
